---
page_title: "{{.ProviderShortName}} Provider"
description: |-
  The Uptime Monitor provider allows you to manage monitors, contacts, and status pages for the Uptime Monitor service.
---

# {{.ProviderShortName}} Provider

The Uptime Monitor provider allows you to manage monitors, contacts, and status pages for the Uptime Monitor service.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}